:root{
    /* Primary */

--Red: hsl(0, 100%, 74%); 
--Green: hsl(154, 59%, 51%);

/* Accent */

--Blue: hsl(248, 32%, 49%);

/* Neutral */

--Dark-Blue: hsl(249, 10%, 26%); 
--Grayish-Blue: hsl(246, 25%, 77%);
}

body{
    font-size: 16px;
    background-image: url("./images/bg-intro-desktop.png");
    background-color: var(--Red);
}

.contenedor{
    display: flex;
    padding: 30px 10%;
    margin: 60px auto;
    width: 75%;
}

.pt-texto{
    /* padding: 0 100px; */
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: auto 0;
}

.titulo{
    color: white;
    font-size: 4rem;
    margin-bottom: 0px;
}

.descripcion{
    color: white;
    font-size: 20px;
}


.pt-frm{
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* padding: 0 0 0 30px; */
    margin: auto 0 auto auto;
}

#btn-descuento{
    border-radius: 10px;
    padding: 10px 0;
    color: white;
    background-color: var(--Blue);
    box-shadow:  0 1px 2px black ;
}

#btn-descuento:hover{
    background-color: rgb(131, 131, 236);
    cursor: pointer;
}

.formulario{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    gap: 10px;
    margin-top: 20px;
    width: 300px;
    height: auto;/*el formulario crecera al agregar los mensajes de error*/
}

.entrada{
    padding: 10px 0;
    /* margin-top: 10px; */
}

#btn{
    padding: 10px 0;
    margin-top: 20px;
    border-radius: 8px;
    background-color: var(--Green);
    color: white;
    border-color: transparent;
}

#btn:hover{
    cursor: pointer;
    background-color: rgb(53, 161, 53);
}

.formulario>input{
    border-style: solid;
    outline: none;
    border-color: var(--Grayish-Blue);
}

.formulario>input:focus:not(#btn){
    border-color: var(--Dark-Blue);
}


.terminos-servicio{
    color:var(--Red);
    font-size: 10px;
    text-align: center;
    margin-top: 1px;
}

.terminos-servicio>span{
    color: red;
}

@media screen and (max-width: 720px) {
    .contenedor{
        flex-direction: column;
        padding: 10px 0;
        margin: 20px auto;
        width: 90%;
    }

    .pt-texto{
        width: auto;
        text-align: center;
        /* padding: 1px 0; */
        margin-bottom: 20px;
    }

    .titulo{
        font-size: 35px;
        margin-top: 10px;
    }

    /* #btn-descuento{
        width: 95%;
    } */

    .pt-frm{
        width: auto;
        margin: auto 0;
    }

    .formulario{
        width: auto;
    }
}